/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(200, 200, 250, 0.8)), 
                url('static/images/background.jpg') no-repeat center center fixed;
    background-size: cover;
}

.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Dark overlay for better text visibility */
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    z-index: 1;
    max-width: 400px;
    width: 100%;
}

h1 {
    text-align: center;
    color: #333;
}

label, select, button {
    display: block;
    width: 100%;
    margin: 10px 0;
}

.dropdown {
    height: 40px;
    border-radius: 5px;
    padding: 8px; 
    border: 1px solid #ccc; 
}

button {
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #4cae4c;
}

#result {
    margin-top: 20px;
    text-align: center;
    color: #333; 
}

h2 {
    margin: 0; 
}
