<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeNames</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <div class="background-overlay">
        <div class="container">
            <h1>Get Your team name</h1>
            <form id="codeForm">
                <label for="category1">Select First Category:</label>
                <select id="category1" class="dropdown" required>
                    <option value="">Select a category</option>
                    <option value="Animals">Animals</option>
                    <option value="Colors">Colors</option>
                    <option value="Trees">Trees</option>
                    <option value="Flowers">Flowers</option>
                </select>

                <label for="category2">Select Second Category:</label>
                <select id="category2" class="dropdown" required>
                    <option value="">Select a category</option>
                    <option value="Animals">Animals</option>
                    <option value="Colors">Colors</option>
                    <option value="Trees">Trees</option>
                    <option value="Flowers">Flowers</option>
                </select>

                <button type="submit">Generate Code</button>
            </form>

            <div id="result">
                <h2>Generated Code:</h2>
                <p id="code"></p>
            </div>
        </div>
    </div>
    
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
